<div class="pt-5">
  <div class="card card-regist mx-auto">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-8">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
            <h2 class="text-center mb-5">Create your account</h2>
            <div class="form-row">
              <div class="col-6 form-group">
                <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>
              </div>
              <div class="col-6 form-group">
                   <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name" }%>
              </div>
            </div>
            <div class="form-group">
              <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
            </div>
            <div class="form-group">
              <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="form-row">
              <div class="col-6 form-group">
                <%= f.input :favorite_sport, input_html: { class: "recognitionStyling form-control mr-sm-2" }, prompt: "Favorite Sport", collection: ["Tennis", "Baseball", "Soccer", "Badminton", "Rugby", "Swimming", "Running", "Volleyball"], label: "Sport" %>
              </div>
               <div class="col-6 form-group">
                <%= f.input :skill_level, input_html: { class: "recognitionStyling form-control mr-sm-2" }, prompt: "Skill Level", collection: (1..5), label: "Skill-Level" %>
              </div>
            </div>
            <div class="form-row">
              <div class="col-4 form-group">
                   <%= f.input :age,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "age" } %>
              </div>
              <div class="col-4 form-group">
 <%= f.input :gender, input_html: { class: "recognitionStyling form-control mr-sm-2" }, prompt: "Gender", collection: ["Male", "Female"], label: "Gender" %>
              </div>
              <div class="col-4 form-group">
<%= f.input :language, input_html: { class: "recognitionStyling form-control mr-sm-2" }, prompt: "Language", collection: ["French", "English", "German", "Portugese", "Spanish"], label: "Language" %>
              </div>
            </div>
            <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary btn-lg w-100" %>
            <p>Already have an account? Try to <%= render "devise/shared/links" %></p>
            </div>
        </div>
      </div>
    </div>
    </div>
<%end%>





