<div class="user-show">
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-3" style="max-width: 50rem;">
       <div class="card-container mx-auto">
        <% if @user.photo.present? %>
          <%= cl_image_tag @user.photo.key, class: "round" %>
        <% else %>
          <img class="round" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="user" />
        <% end %>
        <br>
        <br>
        <h4><%= @user.first_name %> <%= @user.last_name %></h4>
        <div class="profile-details">
          <p>Gender: <%= @user.gender %></p>
          <p>Age: <%= @user.age %></p></p>
          <p>Main Language: <%= @user.language %></p>
          <p>Favourite Sport: <%= @user.favorite_sport %></p>
          <p>Skill level: <%= @user.skill_level %></p>
        </div>
        </div>
      </div>
    </div>
</div>
