<h4><%= event.organizer.first_name %> <%= event.organizer.last_name %></h4>
<p>Adress: <%= event.address %></p>
<p>Sport: <strong><%= event.sport %></strong></p>
<%= link_to "See Details",  event_path(event), class: "chat-submit1" %>

