
<div class="show-container">

<div class="info">



  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light mb-3" style="max-width: 30rem;">
        <div class="card-body">
           <div>
            <h5 class="card-title"><strong><%=@event.organizer.first_name %> <%= @event.organizer.last_name %></strong></h5>
            <p>
            <p class="card-text">Gender: <%=@event.organizer.gender %></p>
            <p class="card-text">Age: <%=@event.organizer.age %> years old</p>
            <p class="card-text">City: tbd</p>
            <p class="card-text">Languages: <%=@event.organizer.language%></p>
            <p class="card-text">Favourite Sports: <%=@event.organizer.favorite_sport%></p>
            <p class="card-text">Skill level: <%=@event.organizer.skill_level %></p>
            </div>
            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
         </div>
      </div>

      <div class="card bg-light mb-3" style="max-width: 30rem;">
        <div class="card-body1">
          <h5 class="card-title"><strong>Biography</strong></h5>
          <p>
          <p class="card-text"><%=@event.organizer.description %></p>
        </div>
      </div>

      <div class="card bg-light mb-3" style="max-width: 30rem;">
          <div class="card-body1">
            <h5 class="card-title"><strong>Active History</strong></h5>
            <p>
            <p class="card-text"><%=@event.organizer.description %></p>
          </div>
      </div>
    </div>
    </div>



  </div>

  <div>

<div class="booking col-sm-6">


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">

        <div class="form-container">

        <p class="prompt"> Book this event! </p>

        <div id="information">
          <div id="date-time">
            <p><%= @event.start_time %></p>
          </div>
          <div id="sport">
            <p><%= @event.sport %></p>
          </div>
        </div>


          <div class="flex-between" id="participants">
            Participants:
            <div class="actions">
              <a class="btn round-bordered incrementer minus" data-offset="-1">-</a>
              <span id="counter" data-count="1">1</span>
              <a href="#" onsubmit="return false;" class="btn round-bordered incrementer" id="plus" data-offset="1">+</a>
            </div>
          </div>

         <%= simple_form_for([@event, @booking]) do |f| %>
          <%= f.submit "Book event", class:"btn-primary" %>
         <% end %>

        </div>

      </div>
    </div>
  </div>

</div>

</div>

</div>
