<div class="show-container pt-0 pl-0">
  <div class="btn button-back return ml-1">
    <%= image_tag "return.svg", style:"width: 30px" %>
  </div>
</div>

<div class="show-container">
<div class="info">
  <div class="row">
    <div class="col-sm-6">
      <div class="mb-3" style="max-width: 50rem;">
       <div class="card-container mx-auto">
        <% if @event.organizer.photo.present? %>
          <%= cl_image_tag @event.organizer.photo.key, class: "avatar-profile2 round" %>
        <% else %>
          <img class="round" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="user" />
        <% end %>
        <br>
        <br>
        <h4><%= @event.organizer.first_name %> <%= @event.organizer.last_name %></h4>
        <div class="profile-details">
          <p class="user-info">Gender: <%= @event.organizer.gender %></p>
          <p class="user-info">Age: <%= @event.organizer.age %></p></p>
          <p class="user-info">Main Language: <%= @event.organizer.language %></p>
          <p class="user-info">Favourite Sport: <%= @event.organizer.favorite_sport %></p>
          <p class="user-info">Skill level: <%= @event.organizer.skill_level %></p>
        </div>
        </div>
      </div>
    </div>

    <div class="booking col-sm-6">


      <div class="container">
        <div class="row justify-content-center">
          <div class="text-center">

            <div class="form-container">

            <p class="prompt"> Book this event! </p>

            <div id="information">
              <div id="date-time">
                <p><%= @event.start_time %></p>
              </div>
              <div id="sport">
                <p><%= @event.sport %></p>
              </div>
            </div>


              <div class="flex-between" id="participants">
                Participants:
                <div class="actions">
                  <a class="btn round-bordered incrementer" id="minus" data-offset="-1">-</a>
                  <span id="counter" data-count="1">1</span>
                  <a class="btn round-bordered incrementer" id="plus" data-offset="1">+</a>
                </div>
              </div>

              <%= simple_form_for [@event, @booking] do |f| %>
                <%= f.submit "Book event", class:"btn btn-primary btn-lg w-100 rounded-corners", id:"book"%>
              <% end %>

            </div>

            <div class="event-participants">
            <div class="card card-participants mt-4 rounded-corners">
                  <h5 class="card-title mt-3">Participants</h5>
                    <ul class="no-bullets list-group list-group-horizontal justify-content-around mb-2 mt-1" style="list-style: none;">
                      <% if @event.organizer.photo.present? %>
                        <li><%= cl_image_tag @event.organizer.photo.key, class: "review-avatar " %></li>
                      <% else %>
                        <img class="review-avatar " src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="user" />
                      <% end %>
                      <% @event.bookings.each do |booking| %>
                        <% if booking.participant.photo.present? %>
                          <li><a href="<%= user_path(booking.participant) %>"><%= cl_image_tag booking.participant.photo.key, class: "review-avatar " %> </a></li>
                        <% else %>
                         <a href="<%= user_path(booking.participant) %>"><img class="mb-3 mt-3 review-avatar" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="user" /> </a>
                        <% end %>
                      <% end %>
                    </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


  <!-- tabs for active history, biography and reviews -->
  <section class="wrapper">
    <ul class="tabs rounded-corners">
      <li class="active <%= params[:tab] == "Biography" ? "active" : "" %>">Biography</li>
      <li>Activity History</li>
      <li class=" <%= params[:tab] == "Reviews" ? "active" : "" %>" id="reviewclick">Reviews</li>
    </ul>

    <ul class="tab__content">
      <li class="active">
        <div class="content__wrapper">
  <!--         <h2 class="text-color">Biogrpahy</h2> -->
          <p><%=@event.organizer.description %></p>
        </div>
      </li>
      <li>
        <div class="content__wrapper">
  <!--         <h2 class="text-color">Activity History</h2> -->
          <h6> Events organized by <%=@event.organizer.first_name %></h6>
          <ul style="list-style: none;">
            <% @event.organizer.events.each do |event| %>
              <li> Organized <%= event.sport%> session in <%= event.location %> on <%= event.start_time.to_formatted_s(:long_ordinal) %> </li>
            <% end %>
          </ul>
          <h6  class="pt-3" > Events <%=@event.organizer.first_name %> attended </h6>
          <% if @event.organizer.bookings.empty? %>
            <p><i> <%=@event.organizer.first_name %> did not attend any event yet </i></p>
          <% else %>
            <ul style="list-style: none;">
              <% @event.organizer.bookings.each do |booking| %>
                <li> Played <%= booking.event.sport%> in <%= booking.event.location %> on <%= booking.event.start_time.to_formatted_s(:long_ordinal) %> </li>
              <% end %>
            </ul>
          <% end %>

        </div>
      </li>
      <li class="<%= params[:tab] == "Reviews" ? "active" : "" %>">
        <div class="content__wrapper" id="anchor">
<!--           <h2 class="text-color">Reviews</h2> -->
          <!-- reviews -->

          <!-- review form visible to only participants who have booked onto the event-->
          <div class="centering-content form-group col-6" id="review-form">
            <%= render "reviews/form" %>
          </div>
          <!-- stop undoing now when you start seeing this disappear. Keep on eye on me. LOOOKKKKK ATTT MEEEEE -->
          <!-- watch me !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          <!-- list the reviews -->
          <div id="reviews-list" class=' mt-1'>
            <%= render "reviews/listing" %>
          </div>
          <!-- review end -->
        </div>
      </li>
    </ul>
  </section>
</div>

</div>

<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@event.sport}" %>
<% content_for :meta_description, @event.location %>
