<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light mb-3" style="max-width: 30rem;">
        <div class="card-body">
           <div>
            <h5 class="card-title"><strong><%=@event.organizer.first_name %> <%= @event.organizer.last_name %></strong></h5>
            <p>
            <p class="card-text">Gender: <%=@event.organizer.gender %></p>
            <p class="card-text">Age: <%=@event.organizer.age %> years old</p>
            <p class="card-text">City: tbd</p>
            <p class="card-text">Languages: <%=@event.organizer.language%></p>
            <p class="card-text">Favourite Sports: <%=@event.organizer.favorite_sport%></p>
            <p class="card-text">Skill level: <%=@event.organizer.skill_level %></p>
            </div>
            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
         </div>
      </div>

      <div class="card bg-light mb-3" style="max-width: 30rem;">
        <div class="card-body1">
          <h5 class="card-title"><strong>Biography</strong></h5>
          <p>
          <p class="card-text"><%=@event.organizer.description %></p>
        </div>
      </div>

      <div class="card bg-light mb-3" style="max-width: 30rem;">
          <div class="card-body1">
            <h5 class="card-title"><strong>Active History</strong></h5>
            <p>
            <p class="card-text"><%=@event.organizer.description %></p>
          </div>
      </div>
    </div>
   <div class="col-sm-6">Louis</div>
  </div>
</div>


<div class="container ">
<!--   That's the main container that has the right side (user info) and left side (bookings). I added display flex for this container in _show.scss
 -->

<div class="user info">
<!--   That's the div where Chris and Ricardo (and Sean?) will be working to add user info, description, reviews etc -->
</div>


<div class="booking">
<!--  That's the div where I will be working on the bookings -->
</div>


</div>
