  <div class="main-dashboard-container">
  <br>


  <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Buddy Space</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Organizer Space</a>
    </li>
  </ul>
  <div class="tab-content d-flex justify-content-center" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="card-container">
        <!-- <span class="pro">You</span> -->
        <% if current_user.photo.present? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-profile round"%>
        <% else %>
        <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
        <% end %>
        <br>
        <br>
        <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
        <div class="profile-details">
          <p>E-mail: <%= current_user.email %></p>
          <p>Gender: <%= current_user.gender %></p>
          <p>Age: <%= current_user.age %></p></p>
          <p>Main Language: <%= current_user.language %></p>
          <p>Favourite Sport: <%= current_user.favorite_sport %></p>
          <p>Skill level: <%= current_user.skill_level %></p>
          <p>Description: <%= current_user.description %></p>
        </div>
          <button class="btn btn-outline-primary my-2 my-sm-0">
            <%= link_to "Edit profile", edit_user_registration_path(current_user) %>
          </button>
        </div>
      </div>


<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
       <br>

    <% if @my_bookings.empty? %>
      <p> You have no event planned </p>
    <% else %>
    <div class="cards1 justify-content-center">
    <% @my_bookings.each do |my_booking| %>
        <div class="card card-event">
    <div class="additional">
      <div class="user-card">
        <div class="level center">
          <%= my_booking.event.sport %> <a href="<%=chatroom_path(my_booking)%>"><i class="far fa-comment-dots"></i></a>
          <%= link_to content_tag(:i, nil, class: 'fas fa-window-close'), booking_path(my_booking), method: :delete, data: {confirm: 'Are you sure you no longer want to participate to this event?'}%>
        </div>
        <div class="points center">
         <%= link_to "See Details", event_path(my_booking.event), class: "btn", id:"btn-event"%>
        </div>
        <% if my_booking.event.organizer.photo.present? %>
          <%= cl_image_tag my_booking.event.organizer.photo.key, class: "mx-auto center" %>
        <% else %>
          <img class="mx-auto center" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
        <% end %>
      </div>
      <div class="more-info">
        <h2><%= my_booking.event.organizer.first_name %> <%= my_booking.event.organizer.last_name %></h2>

        <div class="coords">
          <span>Main-Language: <%= my_booking.event.organizer.language %></span>
          <span><%= my_booking.event.organizer.gender %></span>
        </div>
        <div class="coords">
          <span>Favourite Sport: <%= my_booking.event.organizer.favorite_sport %></span>
          <span>Age: <%= my_booking.event.organizer.age %></span>
        </div>
        <div class="stats">
          <div>
            <div class="title">Skill</div>
            <i class="fa fa-trophy"></i>
            <div class="value"><%=my_booking.event.organizer.skill_level%></div>
          </div>
          <div>
            <div class="title">Events</div>
            <i class="far fa-calendar"></i>
            <div class="value"><%= my_booking.event.organizer.events.count %></div>
          </div>
          <div>
            <div class="title">Participants</div>
            <i class="fa fa-group"></i>
            <div class="value">???</div>
          </div>
          <div>
            <div class="title">Sport</div>
            <i class="fas fa-dumbbell"></i>
            <div class="value"><%=my_booking.event.sport%></div>
          </div>
        </div>
      </div>
    </div>
    <div class="general">
      <h2><%= my_booking.event.organizer.first_name %> <%= my_booking.event.organizer.last_name %></h2>
      <p>I just want to play some <%=my_booking.event.sport%></p>
      <p>Start time: <%= my_booking.event.start_time %></p>
      <span class="more">Mouse over the card for more info</span>
    </div>
  </div>
<% end %>
</div>
      <%end%>
    </div>


    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
       <%= link_to "Create", new_event_path , class: "btn btn-ghost justify-content-center" %>

       <% if @my_events.empty? %>
        <p> You haven't organized any event yet </p>
       <% else %>
       <div class="cards1">
        <% @my_events.each do |my_event| %>
          <div class="card card-event">
    <div class="additional">
      <div class="user-card">
        <div class="level center">
          <%= my_event.sport %> <a href="<%=chatroom_path(my_booking)%>"><i class="far fa-comment-dots"></i></a>
          <a href="<%=chatroom_path(my_booking)%>"><i class="far fa-comment-dots"></i></a>
          <a href="<%=edit_event_path(my_event)%>"><i class="fas fa-edit"></i></a>
          <%= link_to content_tag(:i, nil, class: 'fas fa-window-close'), booking_path(my_booking), method: :delete, data: {confirm: 'Are you sure you no longer want to participate to this event?'}%>
        </div>
        <div class="points center">
         <%= link_to "See Details", event_path(my_event), class: "btn", id:"btn-event"%>
        </div>
        <% if my_event.organizer.photo.present? %>
          <%= cl_image_tag my_event.organizer.photo.key, class: "mx-auto center" %>
        <% else %>
          <img class="mx-auto center" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
        <% end %>
      </div>
      <div class="more-info">
        <h2><%= my_event.organizer.first_name %> <%= my_event.organizer.last_name %></h2>
        <div class="coords">
          <span>Main-Language: <%= my_event.organizer.language %></span>
          <span><%= my_event.organizer.gender %></span>
        </div>
        <div class="coords">
          <span>Favourite Sport: <%= my_event.organizer.favorite_sport %></span>
          <span>Age: <%= my_event.organizer.age %></span>
        </div>
        <div class="stats">
          <div>
            <div class="title">Skill</div>
            <i class="fa fa-trophy"></i>
            <div class="value"><%=my_event.organizer.skill_level%></div>
          </div>
          <div>
            <div class="title">Events</div>
            <i class="far fa-calendar"></i>
            <div class="value"><%= my_event.organizer.events.count %></div>
          </div>
          <div>
            <div class="title">Participants</div>
            <i class="fa fa-group"></i>
            <div class="value">???</div>
          </div>
          <div>
            <div class="title">Sport</div>
            <i class="fas fa-dumbbell"></i>
            <div class="value"><%=my_event.sport%></div>
          </div>
        </div>
      </div>
    </div>
    <div class="general">
      <h2><%= my_event.organizer.first_name %> <%= my_event.organizer.last_name %></h2>
      <p>I just want to play some <%=my_event.sport%></p>
      <p>Start time: <%= my_event.start_time %></p>
      <span class="more">Mouse over the card for more info</span>
    </div>
  </div>
<% end %>
</div>
          <% end %>
          </div>
    </div>
  </div>
</div>





