<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/flagged/photo-1576972405668-2d020a01cbfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80);">
   <div class="layout d-flex justify-content-center align-items-center">
    <h1>Find a Buddy</h1>
    <h2 style="color:white", class=" mb-5">BuddyUp lets you find buddies to enjoy your favourite sport</h2>

    <div class="search-bar">
    <%= simple_form_for :search, url: events_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :location, label: false, input_html: {value: "" }, placeholder: "Location", class: "form-control mr-sm-2" %>
        <%= f.input :sport, input_html: { class: "recognitionStyling form-control mr-sm-2" }, prompt: "Sport", collection: ["Tennis", "Baseball", "Soccer", "Badminton", "Rugby", "Swimming", "Running", "Volleyball"], label: false %>
        <%= f.input :participant_date, as: :date, html5: true, label: false %>
        <%= f.input :participant_time, as: :time, html5: true, label: false %>
        <%= f.submit "Search", class: 'btn btn-outline-primary my-2 my-sm-0 search'%>
    <% end %>
    </div>
  </div>
</div>

  <h1 class="title-home">How to BuddyUp</h1>
  <div class="container mx-auto d-flex justify-content-around">
    <div class="col-4 text-align-center">
      <h3>Search an Event</h3>
      <i class="fas fa-search-location fa-10x"></i>
      <p>Search for a Sports event that happens in your city at the date and time you're available!</p>


    </div>

    <div class="col-4 text-align-center">
          <h3>Pick an Event to Attend</h3>
      <i class="fas fa-calendar-check fa-10x"></i>
      <p>Book an event you want to attend!</p>

    </div>

    <div class="col-4 text-align-center">
          <h3>Meet your new buddies!</h3>
          <i class="far fa-grin-beam fa-10x"></i>
          <p>Have fun and make new friends while playing sports!</p>
    </div>


  </div>

